*{
    margin: 0;
}

body {
    overflow-x: hidden;
}

footer {
    padding-top: .3em;
    width: 100vw;
    height: 10vh;
    background-color: rgb(17, 10, 121);
}

#text{
    text-align: justify;
}

.character:hover {
    cursor: pointer;
}

#infos {
    width: 80%;
    margin: 0 auto;
}
